<div class="flex flex-column" style="width: 100vw; height: 100%;">
  <div class="flex">
    <his-app-store-editor-toolbar [customTemplate]="!_id ? createToolbar : updateToolbar">
      <div *ngIf="!_id; else edit" class="toolbar-title">
        <p>網頁建檔系統 /應用程式 /新增應用程式</p>
      </div>
      <ng-template #edit>
        <p>網頁建檔系統 /應用程式 /編輯應用程式</p>
      </ng-template>
    </his-app-store-editor-toolbar>
  </div>
  <div class="flex flex-1">
    <div class="p-3 h-full flex flex-column" style="width: 100%;">
      <div class="card flex-1 p-2">
        <div *ngIf="!_id; else editTitle">
          <h5>新增應用程式</h5>
        </div>
        <ng-template #editTitle>
          <h5>編輯應用程式</h5>
        </ng-template>
        <div class="grid">
          <div class="col-12 xl:col-10">
            <div class="grid">
              <div class="col-6">
                <h6>應用程式名稱</h6>
                <input type="text" pInputText [(ngModel)]="editableApp.appTitle" style="width: 100%;">
              </div>
              <div class="col-6">
                <h6>應用程式代號</h6>
                <input type="text" pInputText [(ngModel)]="editableApp._id" [disabled]="true" style="width: 100%;">
              </div>
              <div class="col-6">
                <h6>類別</h6>
                <p-dropdown [options]="" [(ngModel)]="editableApp.appType" placeholder="請選擇" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
              </div>
              <div class="col-2 flex gap-2 align-items-end justify-content-start pb-3">
                <div class="">
                  <p-checkbox name="group1" [binary]="true" [(ngModel)]="authNeed" id="authNeed"></p-checkbox>
                </div>
                <div class="">
                  <label for="authNeed">是否需要授權</label>
                </div>
              </div>
              <div class="col-4">
                <h6>圖標</h6>
                <button pButton pRipple (click)="onDialog()" icon="pi {{showIconStyle}}" class="icon-selector"></button>
                <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '580px' }" [closable]="false">
                  <ng-template pTemplate="header">
                    <div class="flex flex-1 justify-content-between">
                      <div>
                        <span class="text-xl font-bold">選擇圖標</span>
                      </div>
                      <div>
                        <p-button icon="pi pi-times" (click)="onCancelSelect()"></p-button>
                      </div>
                    </div>
                  </ng-template>
                  <div class="flex flex-wrap justify-content-between">
                    <ng-container *ngFor="let icon of iconList">
                      <div class="flex text-center" style="min-height: 50px; min-width: 50px;">
                        <button pButton icon="pi {{icon}}" class="icon-selector" (click)="onSelectIcon(icon)"></button>
                      </div>
                    </ng-container>
                  </div>
                  <ng-template pTemplate="footer">
                    <p-button icon="pi pi-times" (click)="onCancelSelect()" label="Cancel" styleClass="p-button-secondary"></p-button>
                    <p-button icon="pi pi-check" (click)="onConfirmIcon()" label="Ok"></p-button>
                  </ng-template>
                </p-dialog>
              </div>
            </div>
          </div>
          <div class="col-4 xl:col-2">
            <div class="px-4 py-5 back" style="min-height: 160px; min-width: 175px;">
              <div class="card p-1" style="height: 100%;">
                <div class="flex flex-column gap-2">
                  <div class="flex flex-wrap justify-content-between">
                    <div class="flex align-items-center justify-content-center icon-preview">
                      <i class="pi {{showIconStyle}}" style="color: white; font-size: 2rem"></i>
                    </div>
                    <div class="flex align-items-center justify-content-center w-2rem h-2rem">
                      <i class="pi pi-star" style="font-size: 1.2rem;"></i>
                    </div>
                  </div>
                  <div class="flex flex-wrap justify-content-between" style="height: 30px;">
                    <div class="flex align-items-center justify-content-start">
                      <h5>{{editableApp.appTitle || previewTitle}}</h5>
                    </div>
                    <div class="flex align-items-start justify-content-center">
                      <i class="pi pi-angle-right" style="font-size: 1.2rem;"></i>
                    </div>
                  </div>
                  <div class="flex align-items-start justify-content-end">
                    <p>v{{editableApp.versionNo}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h6>網頁路徑</h6>
            <input type="text" pInputText [(ngModel)]="editableApp.appUrl" style="width: 100%;">
          </div>
          <div class="col-4">
            <h6>首頁清單</h6>
            <p-dropdown [options]="" [(ngModel)]="editableApp.appHome" placeholder="請選擇" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>
          <div class="col-4">
            <h6>使用語言</h6>
            <p-dropdown [options]="" [(ngModel)]="editableApp.appLanguage" placeholder="請選擇" [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>
          <div class="col-4">
            <h6>版本</h6>
            <input type="text" pInputText [(ngModel)]="editableApp.versionNo" style="width: 100%;">
          </div>
          <div class="col-12">
            <div class="flex flex-wrap justify-content-start align-content-center gap-2">
              <div class="flex">
                <h6>應用頁面</h6>
              </div>
              <div class="flex">
                <button pButton pRipple label="加入" (click)="onModifyClick()" class="p-button-rounded p-button-outlined icon-add"></button>
                <p-dialog [(visible)]="tableVisible" [modal]="true" [style]="{ width: '100vw', height: '90vh' }" class="page-list" [closable]="false">
                  <ng-template pTemplate="header">
                    <div class="flex flex-1 justify-content-between">
                      <div>
                        <span class="text-xl font-bold">加入應用頁面</span>
                      </div>
                      <div>
                        <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-rounded" (click)="onCancelModify()"></button>
                      </div>
                    </div>
                  </ng-template>
                  <his-app-store-editor-page-list [appPagesList]="appPages"
                                                  [visible]="tableVisible"
                                                  (cancel)="onCancelModify()"
                                                  (apply)="onApplyModify($event)"></his-app-store-editor-page-list>
                </p-dialog>
              </div>
            </div>
            <p-table [value]="appPages" dataKey="id" [rows]="10" [loading]="false" [rowHover]="true" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id" style="min-width: 4rem">
                    <div class="flex justify-content-start align-items-center">
                      頁面代碼
                      <p-sortIcon field="id"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="title" style="min-width: 4rem">
                    <div class="flex justify-content-start align-items-center">
                      頁面標題
                      <p-sortIcon field="title"></p-sortIcon>
                    </div>
                  </th>
                  <th pSortableColumn="path" style="min-width: 16rem">
                    <div class="flex  align-items-center" >
                      頁面連結路徑
                      <p-sortIcon field="path"></p-sortIcon>
                    </div>
                  </th>
                  <th style="min-width: 12rem">
                    <div class="flex justify-content-start align-items-center">
                      輸出模組名稱
                    </div>
                  </th>
                  <th style="min-width: 12rem">
                    <div class="flex justify-content-start align-items-center">
                      版本
                    </div>
                  </th>
                  <th style="min-width: 4rem">
                    <div class="flex justify-content-start align-items-center">
                      刪除
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-appPage>
                <tr>
                  <td>
                    {{ appPage._id }}
                  </td>
                  <td>
                    {{ appPage.pageTitle }}
                  </td>
                  <td>
                    {{ appPage.pageUrl }}
                  </td>
                  <td>
                    {{ appPage.moduleName }}
                  </td>
                  <td>
                    {{ appPage.versionNo }}
                  </td>
                  <td>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-outlined" (click)="onRemoveClick(appPage)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createToolbar>
  <div class="flex align-items-center">
    <p-button label="查詢" [routerLink]="['/list']" routerLinkActive="router-link-active" ></p-button>
  </div>
  <div class="flex align-items-center">
    <p-button (click)="onClearClick()" label="清除內容" styleClass="p-button-secondary"></p-button>
  </div>
  <div class="flex align-items-center">
    <p-button label="完成" (onClick)="onCreateClick()"></p-button>
  </div>
</ng-template>

<ng-template #updateToolbar>
  <div class="flex align-items-center">
    <p-button label="查詢" [routerLink]="['/list']" routerLinkActive="router-link-active" ></p-button>
  </div>
  <div class="flex align-items-center">
    <p-dialog [style]="{width: '20vw'}" [(visible)]="deleteVisible" [closable]="false" [modal]="true">
      <ng-template pTemplate="header">
        <div class="flex flex-1 justify-content-between">
          <div>
            <span class="text-xl font-bold">刪除應用頁面</span>
          </div>
          <div>
            <p-button icon="pi pi-times" (click)="onCancelDelete()"></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="body">
        <div class="flex flex-wrap align-items-center gap-2">
          <div>
            <i class="pi pi-question-circle font-bold notification-icon"></i>
          </div>
          <div>
            <span class="text-xl font-bold notification-text">您是否要刪除應用頁面</span>
          </div>
        </div>
        <p>當應用頁面被永久刪除，便不能再復原，且資料庫所儲存的資料亦同步刪除。</p>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="onCancelDelete()" label="取消" styleClass="p-button-secondary"></p-button>
        <p-button icon="pi pi-check" (click)="onConfirmDelete()" label="確定"></p-button>
      </ng-template>
    </p-dialog>
    <p-button label="刪除" styleClass="p-button-secondary" (onClick)="onDeleteClick()"></p-button>
  </div>
  <div class="flex align-items-center">
    <p-button (click)="onClearClick()" label="復原" styleClass="p-button-secondary"></p-button>
  </div>
  <div class="flex align-items-center">
    <p-button label="完成" (onClick)="onSaveClick()"></p-button>
  </div>
</ng-template>
