.icon-selector {
  width: 40px;
  height: 40px;
}

.back {
  background-color: var(--surface-ground);
  padding: var(--spacing-md) var(--spacing-xxl);
}
.authorityBox {
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.iconBox {
  display: flex;
  gap: var(--spacing-sm);
}

.toolbar {
  color: var(--secondary-main);
}


:host ::ng-deep {
  .page-list .p-dialog .p-dialog-header {
    background-color: var(--surface-overlay);
    color: var(--surface-on-surface);
  }
  .p-dialog .p-dialog-content {
    background-color: var(--surface-overlay);
  }
  .p-dialog .p-dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  h6 {
    margin-bottom: var(--spacing-sm);
  }
  .addBox {
    align-items: center;
    margin-bottom: var(--spacing-sm);
    h6 {
      margin-bottom: 0;
    }
  }
}

.icon-preview {
  width: 50px;
  height: 50px;
  background-color: var(--indigo-500);
  border-radius: 4px;
}

.icon-add {
  height: 34px;
  min-width: auto;
}

:host ::ng-deep {
  .iconBox {
    .icon-selector {
      .p-button.p-button-icon-only{
        width: 40px;
        height: 40px;
      }
    }
    .p-button.p-button-icon-only .pi {
      font-size: 1.5rem;
    }
    .p-dialog {
      .p-button.p-button-icon-only .pi {
        font-size: 1rem;
      }
    }
    .p-dropdown {
      min-height: 40px;
    }
    .col-6 {
      padding: 4px 8px;
    }
  }
}

.icon-style {
  font-size: 1.5rem;
}

his-app-store-editor-toolbar {
  width: 100%;
}
