his-header {
  width: 100%;
}

:host ::ng-deep {
  his-app-store-editor-list {
    height: 100%;
    width: 100%;
  }
  his-app-store-editor-info {
    height: 100%;
    width: 100%;
  }
}

.app {
  height: 100%;
}
