<div class="flex flex-column dialog-body gap-2">
  <div class="flex align-items-center grid formgrid">
    <div class="align-self-center col-fixed">
      {{condition}}
    </div>
    <div class="xl:col-1 sm:col-12">
      <div class="align-items-center">
        <p-radioButton name="sortCol" value=1 [(ngModel)]="selectedSort" id="sort1"></p-radioButton>
        <label for="sort1">代號</label>
      </div>
    </div>
    <div class="xl:col-1 sm:col-12">
      <div class="align-items-center">
        <p-radioButton name="sortCol" value=2 [(ngModel)]="selectedSort" id="sort2"></p-radioButton>
        <label for="sort2">類別</label>
      </div>
    </div>
    <div class="xl:col-1 sm:col-12">
      <div class="align-items-center">
        <p-radioButton name="sortCol" value=3 [(ngModel)]="selectedSort" id="sort3"></p-radioButton>
        <label for="sort3">維護人員</label>
      </div>
    </div>
    <div class="col-fixed" style="min-width: 240px;">
      <p-dropdown [options]="" [(ngModel)]="selectedDrop" placeholder="請選擇" [showClear]="true" [style]="{'width':'240px'}"></p-dropdown>
    </div>
    <div class="col-1">
      <p-button label="查詢"></p-button>
    </div>
    <div class="col">
      <div class="flex flex-wrap justify-content-end gap-1">
        <div>
          <p-button label="取消" styleClass="p-button-secondary" (onClick)="onCancelClick()"></p-button>
        </div>
        <div>
          <p-button label="帶入" (onClick)="onApplyClick()"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-1">
    <div class="card flex flex-1 h-full main-card p-2 gap-2">
      <div class="card table-box m-0 p-1">
        <div class="h-full w-full" pDroppable="appPages" (onDrop)="dropReverse()">
          <p-table [value]="appPages" dataKey="_id" [rows]="10" [loading]="false" [rowHover]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 2rem">
                </th>
                <th pSortableColumn="_id" style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    頁面代碼
                    <p-sortIcon field="_id"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="pageTitle" style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    頁面標題
                    <p-sortIcon field="pageTitle"></p-sortIcon>
                  </div>
                </th>
                <th style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    版本
                  </div>
                </th>
                <th pSortableColumn="maintainer" style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    維護人員
                    <p-sortIcon field="maintainer"></p-sortIcon>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-page>
              <tr [pSelectableRow]="page" pDraggable="appPages" (onDragStart)="dragStart(page)" (onDragEnd)="dragEnd()">
                <td>
                  <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-button-form edit-icon" (click)="onPlusPage(page)"></button>
                </td>
                <td>
                  {{ page._id }}
                </td>
                <td>
                  {{ page.pageTitle }}
                </td>
                <td>
                  {{ page.versionNo }}
                </td>
                <td>
                  {{ page.maintainer.display }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="card table-box m-0 p-1 flex flex-column gap-1">
        <div>
          <h5 class="m-0">加入應用頁面</h5>
        </div>
        <div>
          <input type="text" pInputText placeholder="頁面整合查詢" class="dark-input" style="width: 100%; height: 40px;">
        </div>
        <div class="h-full w-full" pDroppable="appPages" (onDrop)="drop()">
          <p-table [value]="appPagesSelected" dataKey="_id" [rows]="10" [loading]="false" [tableStyle]="{ 'width': '100%' }" [rowHover]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 2rem">
                </th>
                <th pSortableColumn="_id" style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    頁面代碼
                    <p-sortIcon field="_id"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="pageTitle" style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    頁面標題
                    <p-sortIcon field="pageTitle"></p-sortIcon>
                  </div>
                </th>
                <th style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    版本
                  </div>
                </th>
                <th pSortableColumn="maintainer" style="min-width: 4rem">
                  <div class="flex justify-content-start align-items-center">
                    維護人員
                    <p-sortIcon field="maintainer"></p-sortIcon>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-page>
              <tr [pSelectableRow]="page" pDraggable="appPages" (onDragStart)="dragReverseStart(page)" (onDragEnd)="dragReverseEnd()">
                <td>
                  <button pButton pRipple icon="pi pi-minus" class="p-button-rounded p-button-warning p-button-form edit-icon" (click)="onRemovePage(page)"></button>
                </td>
                <td>
                  {{ page._id }}
                </td>
                <td>
                  {{ page.pageTitle }}
                </td>
                <td>
                  {{ page.versionNo }}
                </td>
                <td>
                  {{ page.maintainer.display }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
